:root {
    --color-selector-margin: 5px;
    --canvas-border-color: rgb(29, 29, 128);
    --canvas-border-width: 18px;
}
html, body {
    margin: 0;
    height: 100%;
}

#draw {
    background-color: rgb(255, 255, 255);
    border-width: var(--canvas-border-width) var(--canvas-border-width) var(--canvas-border-width) var(--canvas-border-width);
    border-color: var(--canvas-border-color);
    border-style: solid;
    width: 100%;
    height: 90%;
    vertical-align: bottom;
}
#eraser {
    width: 60px;
    height: 30px;
    background-color: white;
    float: left;
    border: 5px rgb(92, 89, 89) solid;
    border-radius: 10%;
    margin: 4px 4px 4px 20px;
}
#clear-all {
    width: 60px;
    height: 30px;
    background-color: white;
    float: left;
    border: 5px red solid;
    border-radius: 50%;
    margin: 4px 4px 4px 20px;
}
#red-selector {
    background: red;
}
#green-selector {
    background: green;
}
#blue-selector {
    background: blue;
}
#black-selector {
    background: black;
}
#pink-selector {
    background: pink;
}
#random-selector {
    background: linear-gradient(.25turn, rgb(136, 255, 0), 50%, rgb(255, 0, 0));
}

.color-selector {
    width: 50px;
    height: 30px;
    float: left;
    margin: 4px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
}
#legend {
    width: 100%;
    height: 10%;
}

.marker-width {
    margin: var(--color-selector-margin);
}
.settings {
    float: right;
    margin-top: 10px;
}
/*
#draw:active {
    cursor: url(image/pencil.svg);
}
*/

